name: Build

on:
  [push, pull_request, workflow_dispatch]

jobs:
  build-linux:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake ninja-build libgl1-mesa-dev

    - name: Build
      run: |
        cmake -B build -G Ninja -DCMAKE_BUILD_TYPE=Release
        cmake --build build --config Release

    - name: Prepare artifact
      run: |
        mkdir -p artifact/opendaq-gui
        cp build/bin/opendaq-gui build/bin/*.so build/bin/*.ttf artifact/opendaq-gui/

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: opendaq-gui-linux
        path: artifact
        retention-days: 7

  build-windows:
    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v4

    - name: Build
      run: |
        cmake -B build -G "Visual Studio 17 2022" -DCMAKE_BUILD_TYPE=Release
        cmake --build build --config Release

    - name: Prepare artifact
      run: |
        mkdir artifact\opendaq-gui
        copy build\bin\Release\opendaq-gui.exe artifact\opendaq-gui\
        copy build\bin\Release\*.dll artifact\opendaq-gui\
        copy build\bin\Release\*.ttf artifact\opendaq-gui\

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: opendaq-gui-windows
        path: artifact
        retention-days: 7

  nightly-release:
    needs: [build-linux, build-windows]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: write
    steps:
    - name: Download Linux artifact
      uses: actions/download-artifact@v4
      with:
        name: opendaq-gui-linux
        path: opendaq-gui-linux

    - name: Download Windows artifact
      uses: actions/download-artifact@v4
      with:
        name: opendaq-gui-windows
        path: opendaq-gui-windows

    - name: Zip artifacts
      run: |
        chmod +x opendaq-gui-linux/opendaq-gui/opendaq-gui
        cd opendaq-gui-linux && zip -r ../opendaq-gui-linux.zip . && cd ..
        cd opendaq-gui-windows && zip -r ../opendaq-gui-windows.zip . && cd ..

    - name: Delete existing Nightly Release # delete existing release so date and commit hash are updated
      uses: ClementTsang/delete-tag-and-release@v0.3.1
      with:
        delete_release: true
        tag_name: nightly
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Update Nightly Release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "opendaq-gui-linux.zip,opendaq-gui-windows.zip"
        tag: nightly
        name: Nightly Build
        body: |
          Nightly binaries are available for 64 bit Windows and Linux.

          ### Linux (amd64)
          Unzip [opendaq-gui-linux.zip](https://github.com/adolenc/opendaq-graph-gui/releases/download/nightly/opendaq-gui-linux.zip) and run `./opendaq-gui`.

          ### Windows (x64)
          Unzip [opendaq-gui-windows.zip](https://github.com/adolenc/opendaq-graph-gui/releases/download/nightly/opendaq-gui-windows.zip) and run `opendaq-gui.exe`.
          If you are having trouble running the application, make sure you have the latest [Visual C++ Redistributable](https://learn.microsoft.com/en-us/cpp/windows/latest-supported-vc-redist) installed.
        makeLatest: true
        allowUpdates: true
        removeArtifacts: true
        replacesArtifacts: true
        token: ${{ secrets.GITHUB_TOKEN }}
